# OpenRouteService API key for car/bike/walking routes
ORS_API_KEY=your_openrouteservice_key_here
GOPLAN_BIKE_ROUTER_URL=https://routing.openstreetmap.de/routed-bike/route/v1/driving
GOPLAN_FOOT_ROUTER_URL=https://routing.openstreetmap.de/routed-foot/route/v1/driving
GOPLAN_ROUTER_TIMEOUT=25
